Repository viperleed/viperleed, pull requests merged in 2024-11, with the labels that each got.

#264 ArduinoCLI v1.0.0 compatibility
  guilib/measure/classes/ioarduinocli.py
Labels: bug, hardware/arduino, GUI:measurement, PRIORITY

#265 Debug log total displacement ranges
  src/viperleed/calc/classes/atom.py
  src/viperleed/calc/sections/run_sections.py
  tests/calc/classes/test_atom.py
Labels: calc

#266 More general file parser
  src/viperleed/calc/files/input_reader.py
  src/viperleed/calc/files/parameters/reader.py
  tests/calc/files/test_input_reader.py
Labels: calc

#269 Check Mpifort version
  src/viperleed/calc/classes/rparams/rparams.py
  src/viperleed/calc/lib/fortran_utils.py
  tests/calc/lib/test_fortran_utils.py
Labels: bug, calc, backwards-compatibility

#270 Use all hardware threads with Open MPI
  pyproject.toml
  requirements-tests.txt
  src/viperleed/calc/files/parameters/checker.py
  src/viperleed/calc/sections/search.py
  tests/calc/files/parameters/test_checker.py
  tests/calc/lib/test_fortran_utils.py
  tests/calc/sections/test_search.py
Labels: bug, calc

#272 fix,minor: typo in warning
  src/viperleed/calc/sections/initialization.py
Labels: calc

#271 feat: add --force option to modify_vacuum utility
  src/viperleed/calc/classes/slab/base_slab.py
  src/viperleed/utilities/poscar/modify_vacuum.py
  tests/calc/utilities/__init__.py
  tests/calc/utilities/poscar/__init__.py
  tests/calc/utilities/poscar/test_modify_vacuum.py
Labels: calc, nice-to-have

#274 Fix find_symmertry utility
  src/viperleed/utilities/poscar/base.py
  src/viperleed/utilities/poscar/find_symmetry.py
  tests/calc/utilities/poscar/test_find_symmetry.py
Labels: bug, utilities

#282 Fix TensErLEED-dependent beamgen tests
  src/viperleed/calc/files/beamgen.py
  src/viperleed/calc/lib/checksums.py
  tests/_test_data/BEAMLISTs/1.6.0-1.6.1/BEAMLIST_36C_cm
  tests/_test_data/BEAMLISTs/1.6.0-1.6.1/BEAMLIST_36C_p6m
  tests/_test_data/BEAMLISTs/1.6.0-1.6.1/BEAMLIST_Ag(100)
  tests/_test_data/BEAMLISTs/1.6.0-1.6.1/BEAMLIST_Cu2O(111)_1x1_surplus_oxygen
  tests/_test_data/BEAMLISTs/1.6.0-1.6.1/BEAMLIST_Cu2O_111
  tests/_test_data/BEAMLISTs/1.6.0-1.6.1/BEAMLIST_Fe2O3_012_1x1_not_optimized
  tests/_test_data/BEAMLISTs/1.6.0-1.6.1/BEAMLIST_Fe3O4_(001)_cod1010369
  tests/_test_data/BEAMLISTs/1.6.0-1.6.1/BEAMLIST_Fe3O4_SCV
  tests/_test_data/BEAMLISTs/1.6.0-1.6.1/BEAMLIST_LSMO_001_A_site
  tests/_test_data/BEAMLISTs/1.6.0-1.6.1/BEAMLIST_MgO_cod_9006456
  tests/_test_data/BEAMLISTs/1.6.0-1.6.1/BEAMLIST_STO(110)-4x1
  tests/_test_data/BEAMLISTs/1.6.0-1.6.1/BEAMLIST_Sb_Si(111)_rect
  tests/_test_data/BEAMLISTs/1.6.0-1.6.1/BEAMLIST_TiO2_small
  tests/_test_data/BEAMLISTs/1.6.0-1.6.1/BEAMLIST_TiO2_supercell
  tests/_test_data/BEAMLISTs/1.6.0-1.6.1/BEAMLIST_diamond
  tests/_test_data/BEAMLISTs/1.7.0-/BEAMLIST_36C_cm
  tests/_test_data/BEAMLISTs/1.7.0-/BEAMLIST_36C_p6m
  tests/_test_data/BEAMLISTs/1.7.0-/BEAMLIST_Ag(100)
  tests/_test_data/BEAMLISTs/1.7.0-/BEAMLIST_Al2O3_NiAl(111)_cHole_20061025
  tests/_test_data/BEAMLISTs/1.7.0-/BEAMLIST_Cu2O(111)_1x1_surplus_oxygen
  tests/_test_data/BEAMLISTs/1.7.0-/BEAMLIST_Cu2O_111
  tests/_test_data/BEAMLISTs/1.7.0-/BEAMLIST_Fe2O3_012_1x1_not_optimized
  tests/_test_data/BEAMLISTs/1.7.0-/BEAMLIST_Fe3O4_(001)_cod1010369
  tests/_test_data/BEAMLISTs/1.7.0-/BEAMLIST_Fe3O4_SCV
  tests/_test_data/BEAMLISTs/1.7.0-/BEAMLIST_LSMO_001_A_site
  tests/_test_data/BEAMLISTs/1.7.0-/BEAMLIST_MgO_cod_9006456
  tests/_test_data/BEAMLISTs/1.7.0-/BEAMLIST_STO(110)-4x1
  tests/_test_data/BEAMLISTs/1.7.0-/BEAMLIST_Sb_Si(111)_rect
  tests/_test_data/BEAMLISTs/1.7.0-/BEAMLIST_TiO2_small
  tests/_test_data/BEAMLISTs/1.7.0-/BEAMLIST_TiO2_supercell
  tests/_test_data/BEAMLISTs/1.7.0-/BEAMLIST_diamond
  tests/calc/files/test_beamgen.py
Labels: bug, tensor leed, calc, tests, backwards-compatibility
