Repository viperleed/viperleed, pull requests merged in 2024-12, with the labels that each got.

#286 Fix allow overwriting POSCAR file in poscar utils
  src/viperleed/utilities/poscar/base.py
  src/viperleed/utilities/poscar/find_symmetry.py
  src/viperleed/utilities/poscar/vasp_relax.py
  tests/calc/utilities/poscar/test_sort_by_z.py
Labels: bug, calc

#288 fix: ecal numpy data types print
  guilib/measure/measurement/energy_calibration.py
Labels: bug, GUI:measurement, PRIORITY

#290 Add note in documentation
  doc/content/calc/files/input/displacements.rst
  doc/content/calc/files/input/displacements/geodelta.rst
Labels: documentation

#291 Arduino gain adjustment fix and firmware check fix
  guilib/measure/_defaults/_viperleed_hardware.ini
  guilib/measure/serial/viperleedserial.py
  hardware/arduino/viper-ino/viper-ino.ino
Labels: bug, hardware/arduino, GUI:measurement, PRIORITY
