Repository viperleed/viperleed, pull requests merged in 2024-07, with the labels that each got.

#232 matplotlib: fix style in py3.7, other small improvements
  pyproject.toml
  src/viperleed/calc/classes/rparams/rparams.py
  src/viperleed/calc/files/ioerrorcalc.py
  src/viperleed/calc/files/iofdopt.py
  src/viperleed/calc/files/iorfactor.py
  src/viperleed/calc/files/ivplot.py
  src/viperleed/calc/files/phaseshifts.py
  src/viperleed/calc/files/searchpdf.py
  src/viperleed/calc/lib/matplotlib_utils.py
  tests/calc/lib/test_matplotlib_utils.py
Labels: bug, calc, code style, backwards-compatibility, py37

#233 Fix subprocess py37
  src/viperleed/calc/psgen.py
  src/viperleed/calc/sections/rfactor.py
  src/viperleed/calc/sections/superpos.py
Labels: bug, calc, backwards-compatibility, py37

#234 Fix old guilib tests
  tests/old_guilib_tests/_do_not_test_lattice.py
  tests/old_guilib_tests/_do_not_test_planegroup.py
  tests/old_guilib_tests/leedsim/_do_not_test_realspace.py
Labels: bug, tests

#236 doc,fix:append rather than overwrite .bashrc
  doc/content/calc/install_tensor_leed.rst
Labels: bug, documentation

#237 Develop timer classes for more compact handling of process execution
  src/viperleed/calc/classes/rparams/rparams.py
  src/viperleed/calc/lib/base.py
  src/viperleed/calc/lib/time_utils.py
  src/viperleed/calc/run.py
  src/viperleed/calc/sections/cleanup.py
  src/viperleed/calc/sections/run_sections.py
  src/viperleed/calc/sections/search.py
  src/viperleed/utilities/poscar/attach_bulk.py
  src/viperleed/utilities/rearrange_phaseshifts.py
  tests/calc/lib/test_time_utils.py
Labels: enhancement, calc
