Repository viperleed/viperleed, pull requests merged in 2025-05, with the labels that each got.

#325 Propagate bookkeeper to domains
  doc/content/calc/sections/bookkeeper.rst
  doc/content/calc/sections/domain_calculation.rst
  doc/content/calc/utilities/bookkeeper_cli.rst
  doc/content/command_line_tools.rst
  src/viperleed/calc/bookkeeper/bookkeeper.py
  src/viperleed/calc/bookkeeper/cli.py
  src/viperleed/calc/bookkeeper/domain_finder.py
  src/viperleed/calc/bookkeeper/errors.py
  src/viperleed/calc/bookkeeper/exit_code.py
  src/viperleed/calc/bookkeeper/history/explorer.py
  src/viperleed/calc/bookkeeper/history/folder.py
  src/viperleed/calc/bookkeeper/history/meta.py
  src/viperleed/calc/bookkeeper/history/workhistory.py
  src/viperleed/calc/bookkeeper/log.py
  src/viperleed/calc/bookkeeper/root_explorer.py
  src/viperleed/calc/bookkeeper/utils.py
  src/viperleed/calc/cli.py
  src/viperleed/calc/constants.py
  src/viperleed/calc/sections/cleanup.py
  src/viperleed/calc/sections/initialization.py
  tests/_test_data/BEAMLISTs/1.6.0-1.6.1/BEAMLIST_Pt25Rh75(100)-p(3x1)-O
  tests/_test_data/BEAMLISTs/1.7.0-/BEAMLIST_Pt25Rh75(100)-p(3x1)-O
  tests/calc/bookkeeper/bookkeeper/conftest.py
  tests/calc/bookkeeper/bookkeeper/run_bookkeeper_base.py
  tests/calc/bookkeeper/bookkeeper/test_archive.py
  tests/calc/bookkeeper/bookkeeper/test_clear.py
  tests/calc/bookkeeper/bookkeeper/test_discard.py
  tests/calc/bookkeeper/bookkeeper/test_discard_full.py
  tests/calc/bookkeeper/bookkeeper/test_domain_bookkeeper.py
  tests/calc/bookkeeper/bookkeeper/test_implementation.py
  tests/calc/bookkeeper/conftest.py
  tests/calc/bookkeeper/history/test_explorer.py
  tests/calc/bookkeeper/history/test_folder.py
  tests/calc/bookkeeper/history/test_meta.py
  tests/calc/bookkeeper/history/test_workhistory.py
  tests/calc/bookkeeper/test_domain_finder.py
  tests/calc/bookkeeper/test_exit_code.py
  tests/calc/bookkeeper/test_log.py
  tests/calc/bookkeeper/test_root_explorer.py
  tests/calc/bookkeeper/test_utils.py
  tests/calc/poscar_slabs.py
  tests/calc/sections/cleanup/test_cleanup.py
  tests/calc/sections/test_fdopt.py
  tests/calc/test_cli.py
  tests/conftest.py
Labels: enhancement, calc, domains, bookkeeper

#345 Do not use heuristic to find potential domain subfolders
  src/viperleed/calc/bookkeeper/bookkeeper.py
  src/viperleed/calc/bookkeeper/domain_finder.py
  src/viperleed/calc/bookkeeper/root_explorer.py
  tests/calc/bookkeeper/bookkeeper/run_bookkeeper_base.py
  tests/calc/bookkeeper/bookkeeper/test_archive.py
  tests/calc/bookkeeper/test_domain_finder.py
  tests/calc/bookkeeper/test_root_explorer.py
Labels: bug, PRIORITY, bookkeeper, regression

#348 Fix encoding in log files
  src/viperleed/calc/bookkeeper/log.py
  src/viperleed/calc/lib/log_utils.py
  tests/_test_data/bookkeeper/utf8_encode_error.log
  tests/calc/bookkeeper/test_log.py
  tests/calc/lib/test_log_utils.py
Labels: bug, calc, bookkeeper, backwards-compatibility

#349 fix: Reset search_index after all blocks are done
  src/viperleed/calc/sections/run_sections.py
Labels: bug, calc

#354 Store original inputs also on early exit
  src/viperleed/calc/lib/time_utils.py
  src/viperleed/calc/run.py
  src/viperleed/calc/sections/cleanup.py
  tests/calc/bookkeeper/bookkeeper/run_bookkeeper_base.py
  tests/calc/bookkeeper/bookkeeper/test_discard_full.py
  tests/calc/bookkeeper/bookkeeper/test_implementation.py
  tests/calc/bookkeeper/bookkeeper/test_run_with_calc.py
  tests/calc/bookkeeper/test_exit_code.py
  tests/calc/lib/test_time_utils.py
  tests/calc/sections/cleanup/conftest.py
  tests/calc/sections/cleanup/test_cleanup.py
  tests/calc/sections/cleanup/test_get_rpars_from_manifest.py
  tests/calc/test_run.py
Labels: bug, calc

#356 Minor change to disable a nagging info log message
  src/viperleed/calc/files/searchpdf.py
Labels: calc

#358 Make sure that bookkeeper never deletes input files
  src/viperleed/calc/bookkeeper/bookkeeper.py
  src/viperleed/calc/bookkeeper/errors.py
  src/viperleed/calc/bookkeeper/exit_code.py
  src/viperleed/calc/bookkeeper/root_explorer.py
  tests/calc/bookkeeper/bookkeeper/test_archive.py
  tests/calc/bookkeeper/test_exit_code.py
  tests/calc/bookkeeper/test_root_explorer.py
Labels: bookkeeper

#357 Fix typos in bookkeeper log messages
  src/viperleed/calc/bookkeeper/history/entry/entry.py
  tests/calc/bookkeeper/history/entry/test_entry.py
Labels: bug, bookkeeper

#359 Update license information in pyproject.toml
  pyproject.toml
Labels: code style

#365 Undo PEP639 in pyproject.toml
  pyproject.toml
Labels: backwards-compatibility

#363 Executing GUI on non-windows platforms
  guilib/measure/camera/drivers/imagingsource/__init__.py
Labels: bug, GUI, GUI:measurement, camera

#370 Fix/gui load without display
  src/viperleed/__init__.py
  src/viperleed/cli_base.py
  src/viperleed/gui.py
  src/viperleed/guilib/__init__.py
  src/viperleed/guilib/basewidgets.py
  src/viperleed/guilib/detect_graphics.py
  src/viperleed/guilib/leedsim/exportcsv.py
  src/viperleed/guilib/leedsim/mainwindow.py
  src/viperleed/guilib/leedsim/mainwindow_old.py
  src/viperleed/guilib/measure/camera/tifffile.py
  src/viperleed/guilib/mpl_graphics.py
  tests/guilib/test_detect_graphics.py
  tests/guilib/test_mpl_graphics.py
Labels: bug, GUI

#373 Replace quote character in the header of spot pattern files
  src/viperleed/gui/leedsim/exportcsv.py
Labels: GUI

#210 Rename PatternInfo.tlm to experiment_symmetry.ini
  .gitignore
  doc/content/api/files.rst
  doc/content/calc/files.rst
  doc/content/calc/files/output/experiment_symmetry.rst
  doc/content/calc/files/output/patterninfo.rst
  doc/content/calc/sections/initialization.rst
  src/viperleed/calc/files/__init__.py
  src/viperleed/calc/files/experiment_symmetry.py
  src/viperleed/calc/files/patterninfo.py
  src/viperleed/calc/lib/leedbase.py
  src/viperleed/calc/sections/cleanup.py
  src/viperleed/calc/sections/initialization.py
  src/viperleed/gui/classes/planegroup.py
  src/viperleed/gui/leedsim/exportcsv.py
  src/viperleed/gui/leedsim/input examples/Ag(110)-c(2x2)Te.ini
  src/viperleed/gui/leedsim/input examples/Ag(110)-p(1x1).ini
  src/viperleed/gui/leedsim/input examples/Ag(111)-(1x1).ini
  src/viperleed/gui/leedsim/input examples/Ag(111)-(3xr3)rect - pm overlayer.ini
  src/viperleed/gui/leedsim/input examples/Ag(111)-(3xr3)rect.ini
  src/viperleed/gui/leedsim/input examples/Ag(111)-(r3xr3)R30.ini
  src/viperleed/gui/leedsim/input examples/Cu(111)-(1x1).ini
  src/viperleed/gui/leedsim/input examples/Cu(111)-(3xr3)rect.ini
  src/viperleed/gui/leedsim/input examples/Cu(111)-(r3x5)rect.ini
  src/viperleed/gui/leedsim/input examples/Fe2O3(012)-(1x1).ini
  src/viperleed/gui/leedsim/input examples/Fe2O3(012)-(2x1).ini
  src/viperleed/gui/leedsim/input examples/Fe3O4(001)-(r2xr2)R45.ini
  src/viperleed/gui/leedsim/input examples/Fe3O4(001)-(r2xr2)R45_noscrews.ini
  src/viperleed/gui/leedsim/input examples/Ir(100)-(2x1)O.ini
  src/viperleed/gui/leedsim/input examples/KTO(001)-(1x1).ini
  src/viperleed/gui/leedsim/input examples/LSMO(110)-(1x1).ini
  src/viperleed/gui/leedsim/input examples/LSMO(110)-Fishbone.ini
  src/viperleed/gui/leedsim/input examples/Pt(111)-(1x1).ini
  src/viperleed/gui/leedsim/input examples/STO(110)-(4x1).ini
  src/viperleed/gui/leedsim/input examples/TaS2(0001)-(rt13xrt13)R13.9.ini
  src/viperleed/gui/leedsim/input examples/experiment_symmetry.ini
  src/viperleed/gui/leedsim/input examples/p2_on_p6m.ini
  src/viperleed/gui/leedsim/input examples/pgg_on_p6m.ini
  src/viperleed/gui/leedsim/mainwindow.py
  src/viperleed/gui/leedsim/mainwindow_old.py
  tests/calc/files/test_experiment_symmetry.py
  tests/calc/symmetry/test_symmetry.py
  tests/conftest.py
Labels: GUI, calc

#369 Note on escaping brackets for optional dependencies in zsh
  doc/content/installation.rst
Labels: documentation

#388 Remove blank lines in header of spot-pattern-file
  src/viperleed/gui/leedsim/exportcsv.py
  tests/gui/leedsim/test_exportcsv.py
Labels: GUI
