Repository viperleed/viperleed, pull requests merged in 2025-02, with the labels that each got.

#298 Support paths relative to origin in DOMAINS
  doc/content/calc/parameters/domain.rst
  src/viperleed/calc/classes/rparams/rparams.py
  src/viperleed/calc/cli.py
  src/viperleed/calc/files/iosearch.py
  src/viperleed/calc/files/parameters/interpret.py
  src/viperleed/calc/from_ase.py
  src/viperleed/calc/lib/leedbase.py
  src/viperleed/calc/psgen.py
  src/viperleed/calc/run.py
  src/viperleed/calc/sections/errorcalc.py
  src/viperleed/calc/sections/fd_optimization.py
  src/viperleed/calc/sections/initialization.py
  src/viperleed/calc/sections/refcalc.py
  src/viperleed/calc/sections/search.py
  tests/calc/conftest.py
  tests/calc/files/parameters/test_interpret.py
  tests/calc/files/test_beamgen.py
  tests/calc/files/test_phaseshifts.py
  tests/calc/sections/test_initialization.py
  tests/calc/test_psgen.py
Labels: bug, documentation, calc, domains

#299 Remove Rparams.paths.work
  src/viperleed/calc/classes/rparams/domain_params.py
  src/viperleed/calc/classes/rparams/rparams.py
  src/viperleed/calc/cli.py
  src/viperleed/calc/constants.py
  src/viperleed/calc/files/input_reader.py
  src/viperleed/calc/files/ioerrorcalc.py
  src/viperleed/calc/files/iosearch.py
  src/viperleed/calc/from_ase.py
  src/viperleed/calc/lib/context.py
  src/viperleed/calc/lib/leedbase.py
  src/viperleed/calc/psgen.py
  src/viperleed/calc/sections/cleanup.py
  src/viperleed/calc/sections/deltas.py
  src/viperleed/calc/sections/errorcalc.py
  src/viperleed/calc/sections/fd_optimization.py
  src/viperleed/calc/sections/initialization.py
  src/viperleed/calc/sections/refcalc.py
  src/viperleed/calc/sections/rfactor.py
  src/viperleed/calc/sections/search.py
  src/viperleed/calc/sections/superpos.py
  tests/_test_data/domains/silver_and_bismuth/initialization/EXPBEAMS.csv
  tests/_test_data/domains/silver_and_bismuth/initialization/PARAMETERS
  tests/_test_data/domains/silver_and_bismuth/initialization/_expect/work/Domain_Ag/PHASESHIFTS
  tests/_test_data/domains/silver_and_bismuth/initialization/_expect/work/Domain_Bi/PHASESHIFTS
  tests/_test_data/domains/silver_and_bismuth/initialization/bismuth/PARAMETERS
  tests/_test_data/domains/silver_and_bismuth/initialization/bismuth/POSCAR
  tests/_test_data/domains/silver_and_bismuth/initialization/bismuth/VIBROCC
  tests/_test_data/domains/silver_and_bismuth/initialization/silver/PARAMETERS
  tests/_test_data/domains/silver_and_bismuth/initialization/silver/POSCAR
  tests/_test_data/domains/silver_and_bismuth/initialization/silver/VIBROCC
  tests/calc/classes/rparams/special/test_base.py
  tests/calc/conftest.py
  tests/calc/files/parameters/test_interpret.py
  tests/calc/files/parameters/test_write.py
  tests/calc/files/test_phaseshifts.py
  tests/calc/lib/test_context.py
  tests/calc/lib/test_leedbase.py
  tests/calc/lib/test_log_utils.py
  tests/calc/sections/conftest.py
  tests/calc/sections/test_cleanup.py
  tests/calc/sections/test_deltas.py
  tests/calc/sections/test_initialization.py
  tests/calc/sections/test_refcalc.py
  tests/calc/test_psgen.py
  tests/calc/utilities/poscar/test_delete.py
  tests/calc/utilities/poscar/test_sort_by_z.py
  tests/helpers.py
Labels: bug, calc, domains

#304 Finish refactoring cleanup
  src/viperleed/calc/sections/cleanup.py
  tests/calc/sections/cleanup/test_move_oldruns.py
  tests/calc/sections/cleanup/test_organize_workdir.py
Labels: calc, code style, domains

#308 doc,fix: update doc for TL_IGNORE_CHECKSUM
  doc/content/calc/parameters/tl_ignore_checksum.rst
Labels: documentation
