Repository viperleed/viperleed, pull requests merged in 2025-10, with the labels that each got.

#450 Search job class & move parabolaFit
  pyproject.toml
  requirements/tests.txt
  src/viperleed/calc/classes/search_job.py
  src/viperleed/calc/lib/parabola_fit.py
  src/viperleed/calc/sections/search.py
  tests/calc/classes/test_search_job.py
Labels: calc

#463 fix: endless loop with MAX_TL_DISLACEMENT ignore
  src/viperleed/calc/sections/run_sections.py
  tests/calc/sections/test_run_sections.py
Labels: bug, calc

#459 Aliases and future backwards compatibility
  src/viperleed/gui/measure/_defaults/_aliases.ini
  src/viperleed/gui/measure/camera/abc.py
  src/viperleed/gui/measure/classes/abc.py
  src/viperleed/gui/measure/classes/settings.py
  src/viperleed/gui/measure/constants.py
  src/viperleed/gui/measure/controller/abc.py
  src/viperleed/gui/measure/controller/viperinocontroller.py
  src/viperleed/gui/measure/dialogs/settingsdialog.py
  src/viperleed/gui/measure/hardwarebase.py
  src/viperleed/gui/measure/measurement/_meassettings.py
  src/viperleed/gui/measure/measurement/abc.py
  src/viperleed/gui/measure/measurement/energy_calibration.py
  src/viperleed/gui/measure/measurement/time_resolved.py
  src/viperleed/gui/measure/uimeasurement.py
  src/viperleed/gui/qsettings.py
  tests/gui/measure/__init__.py
  tests/gui/measure/_defaults/__init__.py
  tests/gui/measure/_defaults/test_defaults.py
  tests/gui/measure/classes/__init__.py
  tests/gui/measure/classes/test_settings.py
Labels: enhancement, GUI:measurement, backwards-compatibility
