Repository viperleed/viperleed, pull requests merged in 2025-06, with the labels that each got.

#390 Fix issue #377
  src/viperleed/gui/measure/camera/abc.py
  src/viperleed/gui/measure/dialogs/settingsdialog.py
  src/viperleed/gui/measure/widgets/spinboxes.py
Labels: bug, GUI:measurement, camera

#352 Stop search or insert refcalc if displacements become large
  doc/content/calc/files/input/displacements.rst
  doc/content/calc/param_name.rst
  doc/content/calc/param_section.rst
  doc/content/calc/param_topics.rst
  doc/content/calc/parameters/max_tl_displacement.rst
  requirements/tests.txt
  src/viperleed/calc/classes/atom.py
  src/viperleed/calc/classes/rparams/defaults.py
  src/viperleed/calc/classes/rparams/rparams.py
  src/viperleed/calc/classes/rparams/special/max_tl_displacement.py
  src/viperleed/calc/classes/rparams/special/symmetry_eps.py
  src/viperleed/calc/files/parameters/interpret.py
  src/viperleed/calc/files/parameters/known_parameters.py
  src/viperleed/calc/run.py
  src/viperleed/calc/sections/refcalc.py
  src/viperleed/calc/sections/run_sections.py
  tests/calc/classes/rparams/special/test_max_tl_displacement.py
  tests/calc/classes/test_atom.py
  tests/calc/conftest.py
  tests/calc/files/parameters/test_interpret.py
  tests/calc/sections/test_run_sections.py
Labels: enhancement, calc, needs discussion

#399 Fix: invalid bulk3dSym when saving experiment-symmetry file
  src/viperleed/gui/__init__.py
  src/viperleed/gui/basewidgets.py
  src/viperleed/gui/leedsim/dialogs/dialogbulk3dsym.py
  src/viperleed/gui/leedsim/dialogs/exportcsvdialog.py
  src/viperleed/gui/leedsim/dialogs/newfiledialog.py
  src/viperleed/gui/leedsim/dialogs/newfiledialog_old.py
  src/viperleed/gui/leedsim/mainwindow.py
  src/viperleed/gui/leedsim/mainwindow_old.py
  src/viperleed/gui/leedsim/widgets/bulkinput.py
  src/viperleed/gui/leedsim/widgets/domainsblock.py
  src/viperleed/gui/leedsim/widgets/editablematrix.py
  src/viperleed/gui/leedsim/widgets/energyblock.py
  src/viperleed/gui/leedsim/widgets/hoverannot.py
  src/viperleed/gui/leedsim/widgets/latticeinput.py
  src/viperleed/gui/leedsim/widgets/leedcanvas.py
  src/viperleed/gui/leedsim/widgets/matricespopup.py
  src/viperleed/gui/leedsim/widgets/realcanvas.py
  src/viperleed/gui/leedsim/widgets/rotationblock.py
  src/viperleed/gui/leedsim/widgets/surfaceinput.py
  src/viperleed/gui/pluginsbase.py
  src/viperleed/gui/selectplugin.py
  src/viperleed/gui/widgets/__init__.py
  src/viperleed/gui/widgets/basewidgets.py
  src/viperleed/gui/widgets/canvases.py
  src/viperleed/gui/widgets/decorators.py
  src/viperleed/gui/widgets/lib.py
  src/viperleed/gui/widgets/spinboxes.py
  tests/gui/test_mpl_graphics.py
Labels: bug, GUI

#429 doc: Spot Tracker doc v1.02
  doc/_static/imagej_plugins/ViPErLEED_ImageJ_Plugins_GUI_documentation.pdf
  doc/content/imagej_plugins.rst
Labels: documentation

#436 doc: fix cairo install instructions for linux
  doc/content/installation.rst
Labels: documentation, dist

#435 Lazily import graphics modules
  src/viperleed/gui/cli.py
  tests/calc/test_cli.py
  tests/gui/test_cli.py
  tests/test_cli.py
Labels: bug, GUI, regression
